.output>div {
  margin:0 2em;
  padding:2px .5em;
}

#statement {background: beige}
#answer {background: Wheat;}
#feedback {background: lightgrey;}
#error {background: IndianRed;}
#debug {background: LightGray;}


/* ACE EDITOR STYLES */
.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 80%;
}
.scrollmargin {
    height: 80px;
    text-align: center;
}